<ion-view view-title="Tables">
  <ion-content>

    <div ng-repeat="floorTables in tablesCtrl.tablesByFloor">
      <div class="row responsive-md" ng-if="$even">
        <div class="col" ng-init="floorA = tablesCtrl.tablesByFloor[$index]">
          <div class="list card floor">
            <div class="item item-avatar">
              <p class="title">{{tablesCtrl.location}} - Floor {{floorA.floor}}</p>
            </div>
            <div class="item item-body"
                 ng-repeat="table in floorA.tables">
              <div class="row responsive-md" ng-if="$even">
                <div class="col" ng-init="tableAA = floorA.tables[$index]">
                  <div class="card btn" ui-sref="main.table({table: tableAA.id})"
                       ng-class="tableAA.current_game === null ? 'free' : 'busy'">
                    <h2>Table {{tableAA.id}}</h2>
                    <span>Some text AA</span>
                  </div>
                </div>

                <div class="col" ng-init="tableAB = floorA.tables[$index+1]">
                  <div class="card btn" ui-sref="main.table({table: tableAB.id})"
                       ng-class="tableAB.current_game === null ? 'free' : 'busy'"
                       ng-if="$index+1 < floorA.tables.length">
                    <h2>Table {{tableAB.id}}</h2>
                    <span>Some text AB</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col" ng-init="floorB = tablesCtrl.tablesByFloor[$index+1]">
          <div class="list card floor" ng-if="$index+1 < tablesCtrl.tablesByFloor.length">
            <div class="item item-avatar">
              <p class="title">{{tablesCtrl.location}} - Floor {{floorB.floor}}</p>
            </div>
            <div class="item item-body"
                 ng-repeat="table in floorB.tables">
              <div class="row responsive-md" ng-if="$even">
                <div class="col" ng-init="tableBA = floorB.tables[$index]">
                  <div class="card btn" ui-sref="main.table({table: tableBA.id})"
                       ng-class="tableBA.current_game === null ? 'free' : 'busy'">
                    <h2>Table {{tableBA.id}}</h2>
                    <span>Some text BA</span>
                  </div>
                </div>

                <div class="col" ng-init="tableBB = floorB.tables[$index+1]">
                  <div class="card btn" ui-sref="main.table({table: tableBB.id})"
                       ng-class="tableBB.current_game === null ? 'free' : 'busy'"
                       ng-if="$index+1 < floorB.tables.length">
                    <h2>Table {{tableBB.id}}</h2>
                    <span>Some text BB</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
