<?xml version='1.0' encoding='utf-8'?>
<widget id="org.zalando.kickerhack" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Kicker hack</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <config-file target="AndroidManifest.xml" parent="application/activity">
            <intent-filter android:label="not-used">
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="application/zalando" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/launcher_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="~3.9.2" />
    <engine name="android" spec="~4.1.1" />
    <plugin name="cordova-plugin-device" spec="~1.1.0" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.1.0" />
    <plugin name="com.ionic.keyboard" spec="~1.0.4" />
    <plugin name="cordova-plugin-network-information" spec="~1.1.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.0.0" />
    <plugin name="phonegap-nfc" spec="~0.6.6" />
</widget>
