<ion-view view-title="Check-In">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <div class="row row-center">
      <div class="col text-center">
        <h3>Checking into game of tag {{checkInCtrl.tagId}}...</h3>
      </div>
    </div>

    <div class="row row-center">
      <div class="col">
        <button disabled="disabled" class="button button-block button-positive icon-right ion-chevron-right">
          START GAME
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
