<ion-view id="check-in-view" view-title="Check-In">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <div class="row row-center">
      <div class="col text-center">
        <h3>Checking into game of tag {{ checkInCtrl.tagId | limitTo: 8 }}...</h3>
      </div>
    </div>

    <div class="row row-center" ng-if="!checkInCtrl.tagData">
      <div class="col text-center">
        <ion-spinner></ion-spinner>
      </div>
    </div>

    <div class="row row-center" ng-if="checkInCtrl.tagData">
      <div class="col">
        <div class="list card">

          <div class="item item-avatar">
            <img src="main/assets/images/ball.png" class="ion-ios-football">
            <h2>Table {{ checkInCtrl.tagData.table_id }}</h2>
            <p>Playing as {{ checkInCtrl.tagData.side }} on {{ checkInCtrl.tagData.position }}</p>
          </div>  

          <a class="item item-icon-left assertive" ng-click="checkInCtrl.checkIn()">
            Check-In
            <i class="icon ion-chevron-right"></i>
          </a>

        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
