<ion-view view-title="Game at table {{gameCtrl.game.table_id}}">
  <ion-content class="padding">

    <div class="list card game">
      <div class="row responsive-md">
        <div class="col">
          <div class="item item-divider">
            Team players: {{gameCtrl.homeTeamPlayers[0]}} & {{gameCtrl.homeTeamPlayers[1]}}
          </div>
          <div class="item item-text-wrap">
            {{gameCtrl.game.goals_home}}
          </div>
        </div>

        <div class="col">
          <div class="item item-divider">
            Team players: {{gameCtrl.awayTeamPlayers[0]}} & {{gameCtrl.awayTeamPlayers[1]}}
          </div>
          <div class="item item-text-wrap">
            {{gameCtrl.game.goals_away}}
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button class="button button-positive" ng-click="scoreGoal('home')">I have scored</button>
    </div>

  </ion-content>
</ion-view>
