<ion-view view-title="Game at table {{gameCtrl.game.table_id}}">
  <ion-content class="padding">

    <div class="list card">
      <div>
        <p>Team players: {{gameCtrl.game.players[0].user_id}} && {{gameCtrl.game.players[1].user_id}}</p>
        <p>{{gameCtrl.game.goals_home}}</p>
      </div>

      <div>
        <p>Team players: {{gameCtrl.game.players[2].user_id}} && {{gameCtrl.game.players[3].user_id}}</p>
        <p>{{gameCtrl.game.goals_away}}</p>
      </div>
    </div>

    <button class="button button-positive" ng-click="scoreGoal('home')">I have scored</button>

  </ion-content>
</ion-view>
