<ion-view view-title="Tables">
  <ion-content>

    <div ng-repeat="floorTables in tablesCtrl.tablesByFloor">
      <div class="row responsive-md" ng-if="$even">
        <div class="col" ng-init="floorA = tablesCtrl.tablesByFloor[$index]">
          <div class="list card floor">
            <div class="item item-divider">
              {{tablesCtrl.location}} - Floor {{floorA.floor}}
            </div>
            <div class="item item-body"
                 ng-repeat="table in floorA.tables">
              <div class="row responsive-md" ng-if="$even">
                <div class="col" ng-init="tableAA = floorA.tables[$index]">
                  <div class="card btn" ng-click="tablesCtrl.showTableGame(tableAA)">
                    <div class="item item-divider">
                      <span>Table {{tableAA.id}}</span>
                      <div class="circle right" ng-class="tableAA.available ? 'free' : 'busy'"></div>
                    </div>
                    <div class="item item-text-wrap">
                      <span class="free" ng-if="tableAA.available">Nobody is playing</span>
                      <span class="busy" ng-if="!tableAA.available">Game {{tableAA.game_id}} is being played</span>
                    </div>
                  </div>
                </div>

                <div class="col" ng-init="tableAB = floorA.tables[$index+1]">
                  <div class="card btn" ng-click="tablesCtrl.showTableGame(tableAB)"
                       ng-if="$index+1 < floorA.tables.length">
                    <div class="item item-divider">
                      <span>Table {{tableAB.id}}</span>
                      <div class="circle right" ng-class="tableAB.available ? 'free' : 'busy'"></div>
                    </div>
                    <div class="item item-text-wrap">
                      <span class="free" ng-if="tableAB.available">Nobody is playing</span>
                      <span class="busy" ng-if="!tableAB.available">Game {{tableAB.game_id}} is being played</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col" ng-init="floorB = tablesCtrl.tablesByFloor[$index+1]">
          <div class="list card floor" ng-if="$index+1 < tablesCtrl.tablesByFloor.length">
            <div class="item item-divider">
              {{tablesCtrl.location}} - Floor {{floorB.floor}}
            </div>
            <div class="item item-body"
                 ng-repeat="table in floorB.tables">
              <div class="row responsive-md" ng-if="$even">
                <div class="col" ng-init="tableBA = floorB.tables[$index]">
                  <div class="card btn" ng-click="tablesCtrl.showTableGame(tableBA)">
                    <div class="item item-divider">
                      <span>Table {{tableBA.id}}</span>
                      <div class="circle right" ng-class="tableBA.available ? 'free' : 'busy'"></div>
                    </div>
                    <div class="item item-text-wrap">
                      <span class="free" ng-if="tableBA.available">Nobody is playing</span>
                      <span class="busy" ng-if="!tableBA.available">Game {{tableBA.game_id}} is being played</span>
                    </div>
                  </div>
                </div>

                <div class="col" ng-init="tableBB = floorB.tables[$index+1]">
                  <div class="card btn" ng-click="tablesCtrl.showTableGame(tableBB)"
                       ng-if="$index+1 < floorB.tables.length">
                    <div class="item item-divider">
                      <span>Table {{tableBB.id}}</span>
                      <div class="circle right" ng-class="tableBB.available ? 'free' : 'busy'"></div>
                    </div>
                    <div class="item item-text-wrap">
                      <span class="free" ng-if="tableBB.available">Nobody is playing</span>
                      <span class="busy" ng-if="!tableBB.available">Game {{tableBB.game_id}} is being played</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
